BorderPane {
    -fx-background-image: url("img/background.jpg");
    -fx-background-size: 450 630;
    -fx-background-repeat: stretch;
}

ImageView:hover {
    -fx-cursor: default;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 10, 0, 0, 0);
}

JFXSpinner {
    -fx-cursor: null;
}

.label {
    -fx-font-weight: bold;
}

.label-main {
    -fx-font-family: Dialog;
    -fx-font-weight: bold;
    -fx-font-size: 40px;
    -fx-text-fill: linear-gradient(#486a81, #343459, #f70d17);
}

.label-error {
    -fx-font-size: 16px;
    -fx-font-weight: lighter;
    -fx-text-fill: #f70d17;
}

.label-author {
    -fx-font-size: 14px Calibri, Arial, sans-serif;
    -fx-font-style: italic;
    -fx-font-weight: lighter;
    -fx-text-fill: #4c4c4c;
}

.text-field {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: linear-gradient(#486a81, #343459, #f70d17);
}

.combo-box {
    -fx-font-size: 17px;
    -fx-font-weight: normal;
    -fx-text-fill: linear-gradient(#486a81, #343459, #f70d17);
}

.combo-box:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(94, 94, 174, 0.4), 3, 0, 0, 0);
}

.button {
    -fx-text-fill: linear-gradient(#486a81, #343459, #f70d17);
    -fx-font-size: 22px Calibri, Arial, sans-serif;
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#8de7e8, #8b70c1);
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.7), 10, 0, 0, 0);
}

.button:hover {
    -fx-cursor: default;
    -fx-font-size: 23px Calibri, Arial, sans-serif;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.7), 20, 0, 0, 0);
}

.button:pressed {
    -fx-background-color: linear-gradient(#63b6b7, #846bb8);
}

.tooltip {
    -fx-font-size: 16px;
    -fx-font-weight: lighter;
}
